body {
    background-color: #282c34;
    font-family: 'Courier New', Courier, monospace;
    color: #abb2bf;
}

h1, h2, h3, h4, h5 {
    font-family: 'Courier New', Courier, monospace;
    color: #abb2bf;
}

.color-band {
    background: linear-gradient(to right, #61afef 0%, #61afef 18%, #98c379 18.001%, #98c379 38%, #e5c07b 38.001%, #e5c07b 45%, #d19a66 45.001%, #d19a66 60%, #c678dd 60.001%, #c678dd 82%, #e06c75 82.001%, #e06c75 100%);
    width: 100%;
    height: 1rem;
    box-shadow: 0 3px 12px 0px rgba(36, 36, 36, 0.6);
}

.color-band-thin {
    background: linear-gradient(to right, #61afef 0%, #61afef 18%, #98c379 18.001%, #98c379 38%, #e5c07b 38.001%, #e5c07b 45%, #d19a66 45.001%, #d19a66 60%, #c678dd 60.001%, #c678dd 82%, #e06c75 82.001%, #e06c75 100%);
    width: 100%;
    height: 0.3rem;
    box-shadow: 0 3px 12px -3px rgba(36, 36, 36, 0.6);
}

.c1 {
    color: #61afef;
}

.c2 {
    color: #e06c75;
}

.c3 {
    color: #98c379;
}

.c4 {
    color: #e5c07b;
}

.c5 {
    color: #c678dd;
}

.c6 {
    color: #abb2bf;
}

.button {
    border-radius: 100px;
}

.section {
    padding-top: 3rem;
}

.header {
    padding-top: 8rem;
}

.row.top {
    /* height: 8rem; */
    display: inline-block;
    width: 100%;
}

.top .intro {
    /* clear: margin; */
    margin-top: auto;
    vertical-align: middle;
    display: inline-block;
    /* font-size: 1rem; */
}

.top h1 {
    margin-bottom: 0;
    word-spacing: -0.65rem;
}

.top a {
    text-decoration: none;
}
.intro a:hover {
    color:#abb2bf;
}

.card {
    border-radius: 0.5rem;
    height: 20rem;
    background-size: cover;
    text-decoration: none;
    display: block;
    line-height: 36rem; /* (2 * height + border-bottom) */ 
    border-bottom: 0.3rem solid rgba(0, 0, 0, 0.2);
    /* border-top: 0.3rem solid rgba(255, 255, 255, 0.2); */
    font-weight: bold;
    text-indent: 15px;
    color: #4b5263;
    margin-bottom: 3.5rem;
    box-shadow: 0 3px 12px -3px rgba(36, 36, 36, 0.6);
    transition: border-bottom-color .2s ease-in;
    transition: background-color .2s ease-in;
    background-position: 0%;
    background-image: url('../img/placeholder.jpg');
    background-color: rgba(190, 80, 70, 0.7);
    background-blend-mode: multiply;    
    overflow: hidden;
    text-overflow: ellipsis;
}

.card:hover {
    color: #abb2bf;
    border-bottom-color: rgba(0, 0, 0, 0.3);
    background-color: rgba(224, 108, 117, 0.9);
}

#nxcolor {
    background-image: linear-gradient(to right, #61afef 0%, #61afef 18%, #98c379 18.001%, #98c379 38%, #e5c07b 38.001%, #e5c07b 45%, #d19a66 45.001%, #d19a66 60%, #c678dd 60.001%, #c678dd 82%, #e06c75 82.001%, #e06c75 100%);
    color: #282c34;
}
#nxcolor::after {
    content: "  |  Haxe color library";
    white-space: pre;
    transition: all .2s ease-in;
    display: none;
    font-weight: normal;
    text-overflow: ellipsis;
    /* background-color: #d4525d; */
}
#nxcolor:hover::after {
    text-overflow: ellipsis;
    display: initial;
}

#legislatures {
    color: #abb2bf;
    background-image: url('../img/legislature.png');
}
#legislatures::after {
    content: "  |  Political visualizations";
    white-space: pre;
    transition: all .2s ease-in;
    display: none;
    font-weight: normal;
    text-overflow: ellipsis;
    /* background-color: #d4525d; */
}
#legislatures:hover {
    color: #fff;
}
#legislatures:hover::after {
    text-overflow: ellipsis;
    display: initial;
}

/* Help */
.get-help {
    border-bottom: 1px solid #ddd;
}

/* Categories */
.categories {
    background-image: url('../images/values-bg.jpg');
    background-size: cover;
    color: #fff;
}
.categories .section-description { 
    margin-bottom: 4rem;
}